<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.system.mapper.BaselandDatabaseMapper">
    
    <resultMap type="BaselandDatabase" id="BaselandDatabaseResult">
        <result property="id"    column="id"    />
        <result property="baselandName"    column="baseland_name"    />
        <result property="logo"    column="logo"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBaselandDatabaseVo">
        select id, baseland_name, logo, create_time from baseland_database
    </sql>

    <select id="selectBaselandDatabaseList" parameterType="BaselandDatabase" resultMap="BaselandDatabaseResult">
        <include refid="selectBaselandDatabaseVo"/>
        <where>  
            <if test="baselandName != null  and baselandName != ''"> and baseland_name like concat('%', #{baselandName}, '%')</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
        </where>
    </select>
    
    <select id="selectBaselandDatabaseById" parameterType="Long" resultMap="BaselandDatabaseResult">
        <include refid="selectBaselandDatabaseVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaselandDatabase" parameterType="BaselandDatabase" useGeneratedKeys="true" keyProperty="id">
        insert into baseland_database
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="baselandName != null">baseland_name,</if>
            <if test="logo != null">logo,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="baselandName != null">#{baselandName},</if>
            <if test="logo != null">#{logo},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBaselandDatabase" parameterType="BaselandDatabase">
        update baseland_database
        <trim prefix="SET" suffixOverrides=",">
            <if test="baselandName != null">baseland_name = #{baselandName},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaselandDatabaseById" parameterType="Long">
        delete from baseland_database where id = #{id}
    </delete>

    <delete id="deleteBaselandDatabaseByIds" parameterType="String">
        delete from baseland_database where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>