<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.system.mapper.DepartmentManageMapper">
    
    <resultMap type="DepartmentManage" id="DepartmentManageResult">
        <result property="id"    column="id"    />
        <result property="affiliation"    column="affiliation"    />
        <result property="departmentName"    column="department_name"    />
        <result property="departmentDescription"    column="department_description"    />
        <result property="creationTime"    column="creation_time"    />
    </resultMap>

    <sql id="selectDepartmentManageVo">
        select id, affiliation, department_name, department_description, creation_time from department_manage
    </sql>

    <select id="selectDepartmentManageList" parameterType="DepartmentManage" resultMap="DepartmentManageResult">
        <include refid="selectDepartmentManageVo"/>
        <where>  
            <if test="affiliation != null  and affiliation != ''"> and affiliation = #{affiliation}</if>
            <if test="departmentName != null  and departmentName != ''"> and department_name like concat('%', #{departmentName}, '%')</if>
            <if test="departmentDescription != null  and departmentDescription != ''"> and department_description = #{departmentDescription}</if>
            <if test="creationTime != null "> and creation_time = #{creationTime}</if>
        </where>
    </select>
    
    <select id="selectDepartmentManageById" parameterType="Long" resultMap="DepartmentManageResult">
        <include refid="selectDepartmentManageVo"/>
        where id = #{id}
    </select>

    <insert id="insertDepartmentManage" parameterType="DepartmentManage" useGeneratedKeys="true" keyProperty="id">
        insert into department_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="affiliation != null">affiliation,</if>
            <if test="departmentName != null">department_name,</if>
            <if test="departmentDescription != null">department_description,</if>
            <if test="creationTime != null">creation_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="affiliation != null">#{affiliation},</if>
            <if test="departmentName != null">#{departmentName},</if>
            <if test="departmentDescription != null">#{departmentDescription},</if>
            <if test="creationTime != null">#{creationTime},</if>
         </trim>
    </insert>

    <update id="updateDepartmentManage" parameterType="DepartmentManage">
        update department_manage
        <trim prefix="SET" suffixOverrides=",">
            <if test="affiliation != null">affiliation = #{affiliation},</if>
            <if test="departmentName != null">department_name = #{departmentName},</if>
            <if test="departmentDescription != null">department_description = #{departmentDescription},</if>
            <if test="creationTime != null">creation_time = #{creationTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDepartmentManageById" parameterType="Long">
        delete from department_manage where id = #{id}
    </delete>

    <delete id="deleteDepartmentManageByIds" parameterType="String">
        delete from department_manage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>