<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.system.mapper.LargeScreenMenuMapper">
    
    <resultMap type="LargeScreenMenu" id="LargeScreenMenuResult">
        <result property="id"    column="id"    />
        <result property="menuClassify"    column="menu_classify"    />
        <result property="menuName"    column="menu_name"    />
        <result property="menuLevel"    column="menu_level"    />
        <result property="skipAddress"    column="skip_address"    />
        <result property="parentMenu"    column="parent_menu"    />
        <result property="organization"    column="organization"    />
        <result property="menuStatus"    column="menu_status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectLargeScreenMenuVo">
        select id, menu_classify, menu_name, menu_level, skip_address, parent_menu, organization, menu_status, create_time from large_screen_menu
    </sql>

    <select id="selectLargeScreenMenuList" parameterType="LargeScreenMenu" resultMap="LargeScreenMenuResult">
        <include refid="selectLargeScreenMenuVo"/>
        <where>  
            <if test="menuClassify != null  and menuClassify != ''"> and menu_classify = #{menuClassify}</if>
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
            <if test="menuLevel != null  and menuLevel != ''"> and menu_level = #{menuLevel}</if>
            <if test="skipAddress != null  and skipAddress != ''"> and skip_address = #{skipAddress}</if>
            <if test="parentMenu != null  and parentMenu != ''"> and parent_menu = #{parentMenu}</if>
            <if test="organization != null  and organization != ''"> and organization = #{organization}</if>
            <if test="menuStatus != null  and menuStatus != ''"> and menu_status = #{menuStatus}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectLargeScreenMenuById" parameterType="Long" resultMap="LargeScreenMenuResult">
        <include refid="selectLargeScreenMenuVo"/>
        where id = #{id}
    </select>

    <insert id="insertLargeScreenMenu" parameterType="LargeScreenMenu" useGeneratedKeys="true" keyProperty="id">
        insert into large_screen_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuClassify != null">menu_classify,</if>
            <if test="menuName != null">menu_name,</if>
            <if test="menuLevel != null">menu_level,</if>
            <if test="skipAddress != null">skip_address,</if>
            <if test="parentMenu != null">parent_menu,</if>
            <if test="organization != null">organization,</if>
            <if test="menuStatus != null">menu_status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuClassify != null">#{menuClassify},</if>
            <if test="menuName != null">#{menuName},</if>
            <if test="menuLevel != null">#{menuLevel},</if>
            <if test="skipAddress != null">#{skipAddress},</if>
            <if test="parentMenu != null">#{parentMenu},</if>
            <if test="organization != null">#{organization},</if>
            <if test="menuStatus != null">#{menuStatus},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateLargeScreenMenu" parameterType="LargeScreenMenu">
        update large_screen_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuClassify != null">menu_classify = #{menuClassify},</if>
            <if test="menuName != null">menu_name = #{menuName},</if>
            <if test="menuLevel != null">menu_level = #{menuLevel},</if>
            <if test="skipAddress != null">skip_address = #{skipAddress},</if>
            <if test="parentMenu != null">parent_menu = #{parentMenu},</if>
            <if test="organization != null">organization = #{organization},</if>
            <if test="menuStatus != null">menu_status = #{menuStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLargeScreenMenuById" parameterType="Long">
        delete from large_screen_menu where id = #{id}
    </delete>

    <delete id="deleteLargeScreenMenuByIds" parameterType="String">
        delete from large_screen_menu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>