<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.system.mapper.OldTreeMapper">
    
    <resultMap type="OldTree" id="OldTreeResult">
        <result property="id"    column="id"    />
        <result property="bid"    column="bid"    />
        <result property="year"    column="year"    />
        <result property="treeName"    column="tree_name"    />
        <result property="treeType"    column="tree_type"    />
        <result property="manager"    column="manager"    />
        <result property="phone"    column="phone"    />
        <result property="treeBaseland"    column="tree_baseland"    />
        <result property="treeAddress"    column="tree_address"    />
        <result property="status"    column="status"    />
        <result property="photo"    column="photo"    />
        <result property="video"    column="video"    />
        <result property="qr"    column="qr"    />
        <result property="detail"    column="detail"    />
        <result property="creatTime"    column="creat_time"    />
    </resultMap>

    <sql id="selectOldTreeVo">
        select id, bid, year, tree_name, tree_type, manager, phone, tree_baseland, tree_address, status, photo, video, qr, detail, creat_time from old_tree
    </sql>

    <select id="selectOldTreeList" parameterType="OldTree" resultMap="OldTreeResult">
        <include refid="selectOldTreeVo"/>
        <where>  
            <if test="bid != null  and bid != ''"> and bid = #{bid}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="treeName != null  and treeName != ''"> and tree_name like concat('%', #{treeName}, '%')</if>
            <if test="treeType != null  and treeType != ''"> and tree_type = #{treeType}</if>
            <if test="manager != null  and manager != ''"> and manager = #{manager}</if>
            <if test="phone != null "> and phone = #{phone}</if>
            <if test="treeBaseland != null  and treeBaseland != ''"> and tree_baseland = #{treeBaseland}</if>
            <if test="treeAddress != null  and treeAddress != ''"> and tree_address = #{treeAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="photo != null  and photo != ''"> and photo = #{photo}</if>
            <if test="video != null  and video != ''"> and video = #{video}</if>
            <if test="qr != null  and qr != ''"> and qr = #{qr}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="creatTime != null "> and creat_time = #{creatTime}</if>
        </where>
    </select>
    
    <select id="selectOldTreeById" parameterType="Long" resultMap="OldTreeResult">
        <include refid="selectOldTreeVo"/>
        where id = #{id}
    </select>

    <insert id="insertOldTree" parameterType="OldTree" useGeneratedKeys="true" keyProperty="id">
        insert into old_tree
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bid != null">bid,</if>
            <if test="year != null">year,</if>
            <if test="treeName != null">tree_name,</if>
            <if test="treeType != null">tree_type,</if>
            <if test="manager != null">manager,</if>
            <if test="phone != null">phone,</if>
            <if test="treeBaseland != null">tree_baseland,</if>
            <if test="treeAddress != null">tree_address,</if>
            <if test="status != null">status,</if>
            <if test="photo != null">photo,</if>
            <if test="video != null">video,</if>
            <if test="qr != null">qr,</if>
            <if test="detail != null">detail,</if>
            <if test="creatTime != null">creat_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bid != null">#{bid},</if>
            <if test="year != null">#{year},</if>
            <if test="treeName != null">#{treeName},</if>
            <if test="treeType != null">#{treeType},</if>
            <if test="manager != null">#{manager},</if>
            <if test="phone != null">#{phone},</if>
            <if test="treeBaseland != null">#{treeBaseland},</if>
            <if test="treeAddress != null">#{treeAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="photo != null">#{photo},</if>
            <if test="video != null">#{video},</if>
            <if test="qr != null">#{qr},</if>
            <if test="detail != null">#{detail},</if>
            <if test="creatTime != null">#{creatTime},</if>
         </trim>
    </insert>

    <update id="updateOldTree" parameterType="OldTree">
        update old_tree
        <trim prefix="SET" suffixOverrides=",">
            <if test="bid != null">bid = #{bid},</if>
            <if test="year != null">year = #{year},</if>
            <if test="treeName != null">tree_name = #{treeName},</if>
            <if test="treeType != null">tree_type = #{treeType},</if>
            <if test="manager != null">manager = #{manager},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="treeBaseland != null">tree_baseland = #{treeBaseland},</if>
            <if test="treeAddress != null">tree_address = #{treeAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="video != null">video = #{video},</if>
            <if test="qr != null">qr = #{qr},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOldTreeById" parameterType="Long">
        delete from old_tree where id = #{id}
    </delete>

    <delete id="deleteOldTreeByIds" parameterType="String">
        delete from old_tree where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>